/* Terapkan font Poppins ke seluruh halaman */
body {
  font-family: 'Poppins', sans-serif;
}


/* navbar */

.logo{
    font-weight: bold; 
    font-style: italic; 
    font-family: sans-serif;
}   

.navbar{
    border-bottom: 2px solid rgb(51, 51, 120);
}

/* header */

.hero{
    min-height: 100vh; 
    background-image: url('img/hero.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero .container h1{
    color: aliceblue;
    font-size: 4em;
    text-shadow: 2px 2px 5px rgba(1,1,3,0.5) ;
    line-height: 4rem;
}

.hero .container{
    padding: 1.4rem 7%;
    max-width: 68rem
    ;
}

.hero .container p{
    color: rgba(255, 255, 255, 0.865);
    font-size: 1.6rem;
    text-shadow: 2px 2px 5px rgba(1,1,3,0.5) ;
    margin-top: 5px;
    line-height: 1.6rem;
}

body{
    height: 2000px;
}

.hero::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(255,255,255,1) 15%, rgba(1,1,3,0) 50%);
}

.button-hero{
    box-shadow: 3px 3px 6px rgba(1,1,3,0.7);
    margin-top: 1px;
    z-index: 3;
}

/* about */

#about{
    padding: 8rem 7%;
    align-items: center;
    justify-content: center;    
    
}

.gambar{
    align-items: center;
    justify-content: center;
}

#menu{
    padding: 8rem 7% 1.4rem;
    background-color: #2ecc71;
}

.luar {
    color: white;
    text-shadow: 2px 2px 5px rgba(1,1,3,0.5) ;
    margin-top: 5px;
    line-height: 1.6rem;
}







   